{{template "top" .}}
{{template "counthead" (len .Data)}}
{{$f := .Filters}}
<form method="get" action="/someday" class="filters" data-autosubmit>
  <input type="hidden" name="f" value="1">
  <input name="name" value="{{$f.Name}}" placeholder="filter by name (/)" class="namebox">
  <button>Apply</button>
  <a href="/someday?f=1" class="reset">Reset</a>
</form>
{{template "filterloud" .}}
{{if not .Data}}<p class="empty">No ideas incubating.</p>{{end}}
<ul class="list">
{{range .Data}}
  <li class="row {{if .SnoozeUntil}}{{if gt .SnoozeUntil $.Today}}snoozed{{end}}{{end}}" data-kb-row data-href="/somedayitem/{{.ID}}">
    <a href="/somedayitem/{{.ID}}" class="title">{{.Text}}</a>
    {{if .SnoozeUntil}}{{if gt .SnoozeUntil $.Today}}<span class="badge">zzz until {{.SnoozeUntil}}</span>{{end}}{{end}}
    <span class="age" title="age of the idea">{{age .CreatedAt}}</span>
    <a class="button small" href="/process?src=someday&item={{.ID}}">Move on it</a>
  </li>
{{end}}
</ul>
{{template "bottom" .}}
